#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

td, th {
  border: 1px  white;
  padding: 2rem;
}

.Event {
  width: 100px;
}

.Event h6,
h5 {
  line-height: 0px;
  align-content: center;
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}

.green {
  background: rgb(202, 245, 222);
}